<div class="resolver-header">
  <div class="header-item options-header">
    <mat-checkbox color="primary" [(ngModel)]="numerical">Avec valeurs numériques</mat-checkbox>
  </div>
  <div class="header-item resolver-title">
    <h2>Résolution de l'équation cyclotomique de niveau {{ resolver.p }}</h2>
    <p *ngIf="polynom" [mathjax]="polynomContent()"></p>
  </div>
  <div class="header-item degree-chooser">
    <button class="degree-button" mat-raised-button (click)="decremente()">-</button>
    <mat-form-field class="degree-field">
      <mat-label>Choix du niveau</mat-label>
      <input class="degree-input" matInput type="number" min=1 max=100 [(ngModel)]="degree"
        (change)="onDegreeChange($event)" #degreeInput>
      <mat-hint>Entre 1 et 100</mat-hint>
    </mat-form-field>
    <button class="degree-button" mat-raised-button (click)="incremente()">+</button>
  </div>
</div>
<div *ngIf="resolver">
  <mat-stepper [selectedIndex]="storageService.stepIndex" (selectionChange)="stepperSelectionChange($event)" #stepper>
    <mat-step *ngFor="let stepElt of stepElts" [state]="getStepState(stepElt)"
      [completed]="stepper.selectedIndex >= stepElt.index">
      <ng-template matStepLabel>
        <span *ngIf="stepElt.index > 0">x&nbsp;</span>
        <span *ngIf="stepElt.choices.length === 1">{{ stepElt.divisor }}</span>
        <mat-form-field *ngIf="stepElt.choices.length > 1" appearance="outline" [style.width.px]=60>
          <mat-label>{{ stepElt.divisor }}</mat-label>
          <mat-select (selectionChange)="divSelectionChange($event, stepElt)">
            <mat-option *ngFor="let choice of stepElt.choices" [value]="choice">{{ choice }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
      <div class="solver-header">
        <div style="order: 1; align-self: center;">
          <button *ngIf="stepElt.index > 0" mat-raised-button color="primary" matStepperPrevious
            appearance="block">Étape précédente</button>
          <div *ngIf="stepElt.index == 0" style="width: 125px;"></div>
        </div>
        <div style="order: 2; align-self: center; display: flex;">
          <mat-chip-list style="align-self: center; margin: 0 20px;">
            <mat-chip *ngIf="isPrime()" selected color="warn" style="padding: 5px;">&nbsp; {{chipPrefix}} &nbsp; $p$ &nbsp; premier &nbsp;</mat-chip>
            <mat-chip *ngIf="!isPrime()" selected color="accent" style="padding: 5px;">&nbsp; {{chipPrefix}} &nbsp; $p$ &nbsp; multiple &nbsp;</mat-chip>
          </mat-chip-list>
          <div style="align-self: center;" mathjax="{{getHeaderAt(stepElt)}}"></div>
        </div>
        <div style="order: 3; align-self: center;">
          <button *ngIf="stepElt.index < stepElts.length - 1" mat-raised-button color="primary" matStepperNext>Étape
            suivante</button>
          <button *ngIf="stepElt.index === stepElts.length - 1" mat-raised-button color="primary"
            matStepperNext>Vérification</button>
        </div>
      </div>
      <app-solver [solver]="getStepSolver(solverCpt, stepElt, stepper.selectedIndex)" [numerical]="numerical" #solverCpt></app-solver>
    </mat-step>
    <mat-step state="verify" [completed]="stepper.selectedIndex >= stepElts.length">
      <ng-template matStepLabel>
        <span>= &nbsp; {{ resolver.p }}</span>
        <span *ngIf="resolver.p > 2 && resolver.prime">&nbsp; - 1</span>
      </ng-template>
      <div class="solver-header">
        <div style="order: 1; align-self: center;">
          <button mat-raised-button color="primary" matStepperPrevious appearance="block">Retour</button>
        </div>
        <div style="order: 2; align-self: center; display: flex;">
          <mat-chip-list style="align-self: center; margin: 0 20px;">
            <mat-chip *ngIf="isPrime()" selected color="warn" style="padding: 5px;">&nbsp; {{chipPrefix}} &nbsp; $p$ &nbsp; premier &nbsp;</mat-chip>
            <mat-chip *ngIf="!isPrime()" selected color="accent" style="padding: 5px;">&nbsp; {{chipPrefix}} &nbsp; $p$ &nbsp; multiple &nbsp;</mat-chip>
          </mat-chip-list>
          <div style="align-self: center;" mathjax="$p = {{resolver.p}}$"></div>
        </div>
        <div style="order: 3; width: 75px; align-self: center;"></div>
      </div>
      <app-solver-checker *ngIf="stepper.selectedIndex === resolver.length"
        [solver]="resolver.solvers[resolver.length - 1]"></app-solver-checker>
    </mat-step>
    <ng-template matStepperIcon="home">
      <mat-icon>home</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="current">
      <mat-icon>label_important</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="edit">
      <mat-icon>label_important</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>label_important</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="verify">
      <mat-icon>done</mat-icon>
    </ng-template>
  </mat-stepper>
</div>