
.resolver-header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
}

.options-header {
  align-self: start;
  width: 200px;
}

.resolver-title {
  align-self: center;
  width: 200px;
  flex-grow: 1;
}

h2 {
  text-align: center;
}

.degree-chooser {
  width: 200px;
  align-self: center;
}

.degree-field {
  margin-left: 10px;
  margin-right: 10px;
  width: 90px;
}

.degree-input {
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.degree-input::-webkit-outer-spin-button,
.degree-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.degree-input[type=number] {
  -moz-appearance: textfield;
}

.degree-button {
  width: 40px!important;
  min-width: unset!important;
}

.solver-header {
  display: flex;
  margin-top: 10px;
  padding-bottom: 20px;
  justify-content: space-between;
}