<p mathjax="$$\textrm{Décomposition de la base par } {{solver.q}} \textrm{ : } \mathcal{B} = {{getBaseString()}}$$"></p>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title mathjax="$R_i = \sum_{c \in \mathcal{C}_i} \theta^{\frac{c}{p}}$"></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p *ngFor="let content of solver.getRExprTexs()" mathjax="$${{content}}$$"></p>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title mathjax="$R_i$ sous forme de vecteurs"></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p *ngFor="let content of solver.getRVecTexs()" mathjax="$${{content}}$$"></p>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
<br>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title mathjax="$ Q_i = \sum_j^q { R_{i \Delta q + j} \cdot \theta^{\frac{i \cdot j}{q}} } $">
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p *ngFor="let content of solver.getQExprTexs()" mathjax="$${{content}}$$"></p>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title mathjax="$Q_i$ sous forme de matrices"></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p *ngFor="let content of solver.getQMatTexs()" mathjax="$${{content}}$$"></p>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
<br>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title mathjax="$ P_i = Q_i \cdot Q_{n - 1}^{i \% q} $"></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p *ngFor="let content of solver.getPMatTexs()" mathjax="$${{content}}$$"></p>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel expanded=true>
    <mat-expansion-panel-header>
      <mat-panel-title mathjax="Construction des $P_i$"></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p *ngFor="let content of solver.getPCoordTexs(numerical)" mathjax="$${{content}}$$"></p>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
<p mathjax="$${{solver.getQnExpr(numerical)}}$$"></p>
<mat-accordion>
  <mat-expansion-panel expanded=true>
    <mat-expansion-panel-header>
      <mat-panel-title mathjax="$ R_i = \frac{1}{q} \sum_j^q{ \frac{P_{i \Delta q + j}}{Q^{j}} \cdot \theta^{\frac{-ij}{q}} } $">
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p *ngFor="let content of solver.getRExpr2Texs(numerical)" mathjax="$${{content}}$$"></p>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title mathjax=" $R_i$ sous forme graphique">
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="polygon-container">
        <app-solver-draw [solver]="solver" [hAxis]="true"></app-solver-draw>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>