<p>
  Le fait que <a href="https://fr.wikipedia.org/wiki/Polyn%C3%B4me_cyclotomique" target="_blank" rel="noreferrer noopener">les équations cyclotomiques</a>
  soient résolubles par radicaux a été démontré il y a maintenant deux siècles. <br>
  L'objectif ici est de fournir une méthode générale de résolution de ces équations.
</p>
<ul>
  <li><a routerLink="/convention">Conventions de nommage</a></li>
  <li><a routerLink="/technique">Technique de résolution</a></li>
  <li><a routerLink="/resolver">Résolution automatique des équations</a></li>
</ul>
<p>
  Remarque : La résolution automatique est proposé pour les niveaux de 1 à 100, mais pour les niveaux 47, 59 et 83,
  les calculs dépassent la précision informatique utilisée.
</p>
<p class="arrow">
  Auteur : <a href="mailto:qfayet@gmail.com">Quentin Fayet</a><br>
  Merci à Daniel Lazard pour les explications
</p>
