<h1>Technique générale de résolution des équations cyclotomiques</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav mat-tab-nav-bar mat-align-tabs="center">
  <a class="tab-title" mat-tab-link routerLink="presentation" routerLinkActive #rla1="routerLinkActive"
    [active]="rla1.isActive"><b>Présentation</b></a>
  <a class="tab-title" mat-tab-link routerLink="convention" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive"><b>Conventions
    de nommage</b></a>
  <a class="tab-title" mat-tab-link routerLink="technique" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive"><b>Technique de
    résolution</b></a>
  <a class="tab-title" mat-tab-link routerLink="resolver" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive"><b>Résolveur</b></a>
</nav>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
