<div *ngIf="solver.p > 2">
  <p mathjax="$$\textrm{En utilisant } {{getGenFunction()}} \textrm{ comme fonction génératrice, on obtient le cycle : } $$"></p>
  <p mathjax="$${{getBaseCycle()}}$$"></p>
  <p mathjax="$$\textrm{Et donc comme base initiale : } \mathcal{B} = {{getBaseString()}}$$"></p>
</div>
<div *ngIf="solver.p === 2">
  <p mathjax="$$R_0 = \theta^\frac{1}{2} \textrm{, or } \theta^\frac{0}{2} + \theta^\frac{1}{2} = 0$$"></p>
</div>
<div *ngIf="solver.p > 2">
  <p mathjax="$$R_0 = {{getRSum()}} = {{getRVec()}}$$"></p>
</div>
<p mathjax="{{getSolveContent1()}}"></p>
<div *ngIf="showExplanation">
  <br>
  <p mathjax="{{getSolveContent2()}}"></p>  
</div>
<div class="polygon-container">
  <app-solver-draw [solver]="solver" [hAxis]="true"></app-solver-draw>
</div>
