<p mathjax="{{getSolveContent1()}}"></p>
<br>
<p *ngFor="let content of getRExprTexs(numerical)" mathjax="$${{content}}$$"></p>
<div class="polygon-container">
  <app-solver-draw [solver]="solver"></app-solver-draw>
</div>
