<div style="display: flex;">
  <div style="order: 1; width: 92px;"></div>
  <div style="order: 2; margin-left: auto; margin-right: auto; align-self: center;">
    <div mathjax="$${{getCheckExpression()}}$$"></div>
  </div>
  <div style="order: 3; align-self: center; display: flex;">
    <mat-chip-list>
      <mat-chip *ngIf="isOK()" selected style="background-color: green; padding: 20px;"><mat-icon style="margin-Right: 10px;">done</mat-icon>OK</mat-chip>
      <mat-chip *ngIf="!isOK()" selected style="background-color: red; padding: 20px;"><mat-icon style="margin-Right: 10px;">clear</mat-icon>KO</mat-chip>
    </mat-chip-list>
  </div>
</div>
<div class="polygon-container">
  <app-solver-draw [solver]="solver"></app-solver-draw>
</div>
