<app-solver-prime-root *ngIf="isPrimeRoot()" [solver]="asPrimeRoot()" [numerical]="numerical"></app-solver-prime-root>
<app-solver-prime-child *ngIf="isPrimeChild()" [solver]="asPrimeChild()" [numerical]="numerical"></app-solver-prime-child>
<app-solver-multi-root *ngIf="isMultiRoot()" [solver]="asMultiRoot()" [numerical]="numerical"></app-solver-multi-root>
<app-solver-multi-child *ngIf="isMultiChild()" [solver]="asMultiChild()" [numerical]="numerical"></app-solver-multi-child>
