<p mathjax="{{content1}}"></p>
<h3>Cas p est un multiple</h3>
<p mathjax="{{content2}}"></p>
<p mathjax="{{content2A}}"></p>
<p mathjax="{{content2B}}"></p>
<h3>Cas p est un nombre premier</h3>
<p>
  La méthode de résolution repose sur la cyclicité des racines. <br>
  De part cette cyclicité, un corps constitué de la liste des racines peut-être décomposé en sous-corps. <br>
  Si le nombre des racines est un multiple de $q$, on peut définir un sous-corps dont la base est formé par des regroupements de $q$ racines. <br>
  En ajoutant les racines q-ième de l'unité, on effectue alors une extension du corps (et du sous-corps). <br>
  On peut alors construire des éléments de cette extension du corps, tels que les résultats de l'élévation à la puissance $q$ sont des éléments du sous-corps (étendu). <br>
  La multiplication de ces éléments entre eux fournissent également des éléments du sous-corps. <br>
  On peut donc utiliser une racine q-ième d'un de ces éléments du sous-corps pour construire les élément du corps parent. <br>
  En itérant ce processus sur les sous-corps successifs, on arrive au corps dont la base est constitué d'un seul élément : la somme des racines,
  c'est-à-dire -1, donc le corps des rationnels. <br>
  En remontant de sous-corps en corps parent, jusqu'au corps initial, on peut donc exprimer sous forme de radicaux les racines p-ième de l'unité. <br>
</p>
<p>
  La première étape consiste donc à déterminer la fonction génératrice du cycle des racines. <br>
  C'est-à-dire trouver un $g$ tel que $p$ itérations de la fonction $f: z \mapsto z^g$ sur une des racines, génère l'ensemble des racines. <br>
  Par exemple, avec $p = 5$, $f: z \mapsto z^2$ fonctionne : <br>

  $${{"\\theta^\\frac{1}{5} \\rightarrow \\theta^\\frac{2}{5} \\rightarrow \\theta^\\frac{4}{5} \\rightarrow \\theta^\\frac{3}{5} \\rightarrow \\theta^\\frac{1}{5}"}}$$

  Soit sous la forme d'un cycle : <br>

  $$(1, 2, 4, 3)$$

  Avec $p = 7$, on peut utiliser $f: z \mapsto z^3$ : <br>

  $$(1, 3, 2, 6, 4, 5)$$

  Généralement si 2 ne fonctionne pas, 3 fonctionne. <br>
</p>
<p>
  Ensuite, on part du sous-corps initial, le corps des rationnels, dont la base est consitué d'un seul élément : la somme des racines p-ième de l'unité (-1). <br>
  Comme $p$ est premier, alors $p$ peut s'écrire (pour $p$ > 2) : <br>

  $${{"p = \\prod_i {q_i} + 1 \\text{ avec } q_i \\text{ premiers}"}}$$

  Et comme le cycle générateur contient $p-1$ éléments, on peut donc le diviser successivement en $q_i$ sous-cycles. <br>
</p>
<p>
  L'étape suivante consiste donc à décomposer le cycle par un des ces diviseurs $q$. <br>
  Par exemple, le cycle pour $p = 5$ peut être décomposé en 2 sous-cycles : <br>

  $$(1, 2, 4, 3) \rightarrow (1, 4), (2, 3)$$

  On forme alors un corps parent du corps initial dont la base est constitué des éléments formés de la somme des racines appartenant à chaque sous-cycle. <br>
  On utilise ensuite la méthode de Lagrange pour résoudre les éléments de la base selon la méthode décrite précédemment. <br>
</p>
<p mathjax="{{content3}}"></p>
<div style="display: flex; justify-content: center;">
  <button mat-raised-button color="primary" [routerLink]="'/resolver'">Résolution automatique des polynômes cyclotomiques</button>
</div>
